messagedialog .dialog-action-area > button,
messagedialog .dialog-action-area > button:backdrop {
margin:0px 8px;}
printdialog.background>*,
printdialog.background>*:backdrop{
background:@bg_color;}

filechooser>actionbar,
filechooser>actionbar:backdrop
{margin-top:5px;}
