frame,
frame:backdrop,
frame.border.flat,
frame.border.flat:backdrop{
border:none;}

frame.border,
frame.border:backdrop{
margin:2px;
border:1px solid @border_color;}

frame>paned,
frame>paned:backdrop{
border:1px solid @border_color;}

frame.border-inset>border,
frame.border-inset>border:backdrop {
border:1px solid @border_color;
box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.10);}
frame.border-outset>border,
frame.border-outset>border:backdrop {
border:1px solid @border_color;
box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10);}
frame.border-groove>border,
frame.border-ridge>border,
frame.border-groove>border:backdrop,
frame.border-ridge>border:backdrop {
border:1px solid @border_color;
box-shadow: none;}

frame>label,
frame>label:backdrop{
margin:10px;
font-weight:bold;}